*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn{
    padding: 25px;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    border: 0px;
    border-radius: 50px;
    width: 20vw;
    background-color: rgb(20, 95, 235);
    color: rgb(247, 245, 233);
}

button.btn :hover {
    background-color: aliceblue;
    color: blue;
}

.name{
    display: inline-block;
    margin: 12px;
    color: whitesmoke;
    border: 1px;
    border-radius: 25px;
    background-color: aquamarine;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 28px;

}

.about{
    display: inline-block;
    margin: 20px;
    padding: 12px;
    color: whitesmoke;
    border: 1px;
    border-radius: 25px;
    background-color: gold;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
}


.name.about:hover {
     background-color: cadetblue;
     color: black;
}